html {
  height: 100%;
  #___gatsby,
  #gatsby-focus-wrapper {
    height: 100%;
  }
  body {
    background-color: $white;
    font-family: $site-font;
    height: 100%;
    background-color: #d0d0d045;
    font-size: 0.9rem;

    .layout-main {
      height: 100%;
      .layout-header {
        .navbar {
          background-color: $white;
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);
          line-height: 1;
          height: 100px;
        }
        .nav-item {
          padding: 20px 10px 0px 10px;
        }
        .navbar-light .navbar-nav .nav-link,
        .navbar-light .navbar-brand {
          color: $black;
          padding-top: 0;
          &:hover {
            color: $green;
          }
        }
        .nav-item:hover {
          border-bottom: 1px solid $green;
        }
        .navbar-collapse {
          background-color: $white;
          padding: 10px 15px;
        }
        @media screen and (max-width: 575px) {
          .navbar-collapse {
            border: 1px solid $green;
          }
        }
        a {
          color: $blue-strong;
          &:hover {
            color: $green;
            text-decoration: none;
          }
        }
      }

      .container#content {
        margin-top: 60px;
      }

      h1 {
        margin-bottom: 20px;
        text-align: center;
      }

      ul {
        list-style: none;
        padding: 0;
      }
      .layout-content {
        padding-top: 150px;
        padding-bottom: 50px;

        .box-index {
          padding-top: 35px;

          .ebooks-call {
            text-align: center;
            background-color: $green;
            color: $white;
            padding: 40px 0px;
          }
        }

        .conteudo-artigo {
          img {
            display: block;
            margin: 0 auto;
            width: 400px;
          }

          .small {
            width: 100%;
            max-width: 250px;
          }

          .large {
            width: 100%;
            max-width: 600px;
          }
        }
      }
    }
  }
}
.ogro-face {
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  overflow: hidden;
  margin: auto;
}

.social-links {
  text-align: center;
  padding-top: 10px;

  ul.social-links-list {
    li {
      display: inline-block;

      a {
        padding: 0 15px;
      }
    }
  }
}
