html {
  height: 100%;
  #___gatsby,
  #gatsby-focus-wrapper {
    height: 100%;
  }
  body {
    background-color: $white;
    font-family: $site-font;
    height: 100%;
    background-color: #d0d0d045;
    font-size: 0.9rem;

    .layout-main {
      height: 100%;
      .layout-header {
        .navbar {
          background-color: $white;
          border-bottom: 1px solid rgba(0, 0, 0, 0.4);
          line-height: 1;
          height: 110px;
        }
        .nav-item {
          padding: 10px;
        }
        .navbar-light .navbar-nav .nav-link,
        .navbar-light .navbar-brand {
          color: $black;
          &:hover {
            color: $green;
          }
        }
        .navbar-collapse {
          background-color: $white;
          margin-top: 5px;
          padding: 10px 15px;
        }
        a {
          color: $blue-strong;
          &:hover {
            color: $green;
            text-decoration: none;
          }
        }
      }

      .container#content {
        margin-top: 60px;
      }

      h1 {
        margin-bottom: 20px;
        text-align: center;
      }

      ul {
        list-style: none;
        padding: 0;
      }
      .layout-content {
        padding-top: 100px;

        .box-index {
          padding-top: 35px;
          .ogro-face {
            border-radius: 50%;
            box-sizing: border-box;
            display: block;
            flex: 0 0 auto;
            overflow: hidden;
            margin: auto;
          }
          .ebooks-call {
            text-align: center;
            background-color: $green;
            color: $white;
            padding: 40px 0px;
          }
        }

        .conteudo-artigo {
          img {
            display: block;
            margin: 0 auto;
            width: 400px;
          }

          .small {
            width: 100%;
            max-width: 250px;
          }

          .large {
            width: 100%;
            max-width: 600px;
          }
        }
      }
    }
  }
}
