.site-footer {
  background-color: $gray;
  color: $white;
  margin-top: 20px;
  padding: 35px;
  text-align: center;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        display: inline-block;

        a {
          padding: 0 15px;
        }
      }
    }
  }
  ul {
    a {
      color: $white;
    }
  }
  h6 {
    color: $white;
    padding-bottom: 0;
    margin-bottom: 25px;
    font-weight: bold;
  }
}
