.site-footer {
  background-color: $black;
  color: $white;
  margin-top: 20px;
  padding: 35px;
  text-align: center;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        display: inline-block;

        a {
          padding: 0 15px;
        }
      }
    }
  }
}
