.site-footer {
  background-color: $gray;
  color: $white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);

  ul {
    a {
      color: $white;
    }
  }
  h6 {
    color: $white;
    padding-bottom: 0;
    margin-bottom: 25px;
    font-weight: bold;
  }
}
