.site-footer {
  background-color: $black;
  color: $white;
  text-align: center;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 5px;

  ul {
    a {
      color: $white;
    }
  }
  h6 {
    color: $white;
    padding-bottom: 0;
    margin-bottom: 25px;
    font-weight: bold;
  }
}
