@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$site-font: "Open Sans", sans-serif;

$light-gray: #636363c4;
$dark-gray: rgb(80, 80, 80);
$white: #fff;
$black: #333;
$blue-strong: #171b37;
$green: #4d8c67;
$gray: #4e4d44;
