@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$site-font: "Open Sans", sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$white: #fff;
$black: #333;
$blue-strong: #171b37;
